
.container { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 80%; 
    margin: 0 auto;
    border: 0px solid #fff;
}
img { 
    max-width: 100%; 
    height: auto; 
    border: 6px solid #fff;
    margin: 50px 0;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #292929;
}
p { 
    color: #fff; 
    text-align: center; 
    margin-top: 20px;
}